
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/home/mike/Desktop/soprano.png
Name[en_GB]=Soprano
Exec="/home/mike/Desktop/Python/IconoClast/iconoclast/completed Modules/run.sh"
Name=Soprano
Icon=/home/mike/Desktop/Python/IconoClast/iconoclast/completed Modules/data/crashbit-soprano.png
